<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <!--<link rel="stylesheet" href="css/ccui.css" type="text/css"/>-->
    <link rel="stylesheet/less" href="src/ccui.less" type="text/css"/>
    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false
        };
    </script>
    <script src="js/less.js"></script>
    <title>测试</title>
</head>
<body>
    <div id="hh"></div>
<script type="text/javascript" src="js/seajs/seajs/2.2.0/sea-debug.js"></script>
<script type="text/javascript" src="js/seajs.config.js"></script>
<script type="text/javascript">
    seajs.use("changeItem");
</script>
</body>
</html>