<html><head><link href="../../Content/framepage.css" rel="stylesheet" type="text/css">
<script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>

<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="../../Content/student.css">
<link rel="stylesheet" type="text/css" href="../../Content/HomeSpace.css">

<link rel="stylesheet" type="text/css" href="../../Content/Pager.css">
<script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="../../Scripts/DatePicker/WdatePicker.js" type="text/javascript"></script><link href="../../Scripts/DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
<style type="text/css">
.pinglun{
margin: 10px 0 0 80%;
}
.littlestart{background: rgba(0, 0, 0, 0) url("../images/starlittle.png") no-repeat scroll 0 -13px; display: inline-block;height: 13px;width: 13px;}
</style>
</head><body><div id="main_body">         
        <div class="ui_body">
                     
            <div class="ui_hea">
                <div class="infocontainer">
                    <div class="u_tabs_out">
                        <div class="u_tab_c">数字作业</div>
                        <div class="u_tab_c">资源管理</div>                       
                        <div class="u_tab_c">空间互动</div> 
                        <div class="u_tab_c">修改个人信息</div>
                        <div class="u_tab_c u_tab_high">修改密码</div>           
                    </div>
                </div>
            </div>
            <div class="ui_userinfo">
                <div class="all_homeworks" style="display: none;">
                    <div style="margin:10px">
                        资源推送<br>
                       <div class="checkwbtn btnset">语文</div><div class="checkwbtn btnset">数学</div><div class="checkwbtn btnset">英语</div><div class="checkwbtn btnset">物理</div><div class="checkwbtn btnset">化学</div><div class="checkwbtn btnset">更多</div>    
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>
                        <div>
                            <div class="check_worktime">
                                <div class="check_timeinfo">资源名称：教学设计6：第5课 散步</div>
                            </div>
                        </div>
                        <div class="check_btns">
                            <div class="start res_img"></div> 
                            <div class="shoucang res_img"></div> 
                        </div>
                    </div>
                    
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>
                        <div>
                            <div class="check_worktime">
                                <div class="check_timeinfo">资源名称：教学设计5：第4课 散步</div>
                            </div>
                        </div>
                        <div class="check_btns">
                             <div class="start res_img"></div> 
                            <div class="shoucang res_img"></div> 
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>
                        <div>
                            <div class="check_worktime">
                                <div class="check_timeinfo">资源名称：教学设计4：第3课 散步</div>
                            </div>
                        </div>
                        <div class="check_btns">
                           <div class="start res_img"></div> 
                            <div class="shoucang res_img"></div> 
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>
                        <div>
                            <div class="check_worktime">
                                <div class="check_timeinfo">资源名称：教学设计3：第2课 散步</div>
                            </div>
                        </div>
                        <div class="check_btns">
                             <div class="start res_img"></div> 
                            <div class="shoucang res_img"></div>
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>
                        <div>
                            <div class="check_worktime">
                                <div class="check_timeinfo">资源名称：教学设计2：第1课 散步</div>
                            </div>
                        </div>
                        <div class="check_btns">
                            <div class="start res_img"></div> 
                            <div class="shoucang res_img"></div> 
                        </div>
                    </div>  
                    <div style="margin: 3% 85%;">
                          <div class="checkwbtn btnset">换一批</div>
                    </div>          
                </div>
                <div id="changeinfo" style="margin-left: 28px;">
                    <table class="userinfotable" style="display: none;">
                        <tbody><tr>
                            <td valign="top">
                                <div class="ui_userinfo" id="userinfo">
                                    <div class="userinfotr">
                                        <label for="">
                                            <span class="need"></span>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
                                            <input type="text" name="name" id="username" datatype="*" value="XXX">
                                    </div>
                                    <div class="userinfotr">
                                        <label for="">
                                            <span class="need"></span>真实姓名</label>
                                        <input type="text" errormsg="请填写真实姓名" nullmsg="请填写真实姓名" sucmsg=" " name="name" id="realname" datatype="*" value="">
                                        <div class="Validform_checktip"></div>
                                        <div style="color: rgb(224, 224, 224); font-size: 16px; position: absolute; top: 10px; left: 131px;" class="rnametip">
                                            必填，便于师生及亲友识别您的身份
                                        </div>
                                    </div>
                                    <div class="userinfotr">
                                        <label>
                                            <span class="need"></span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校</label>
                                        <input type="text" name="mobile" value="" id="school">
                                        <div class="wrong">
                                        </div>
                                    </div>
                                    <div class="userinfotr">
                                        <label>
                                            <span class="need"></span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;段</label>
                                        <div style="display: inline-block;" class="uiperiodcontainer">
                                            <input type="hidden" id="period" value="初中">
                                            <div class="register-switch">
                                          <input type="radio" name="period" value="F" id="period_s" class="register-switch-input"><label for="period_s" class="register-switch-label">小学</label><input type="radio" name="period" value="F" id="period_m" class="register-switch-input" checked="checked"><label for="period_m" class="register-switch-label">初中</label><input type="radio" name="period" value="F" id="period_h" class="register-switch-input"><label for="period_h" class="register-switch-label">高中</label></div>
                                        </div>
                                        <div class="Validform_checktip">
                                        </div>
                                    </div>
                                    <input type="hidden" value="" id="grade">
                                    <input type="hidden" value="" id="district">
                                    <input type="hidden" value="035f9fb2-059e-47cd-95b4-70fe12165a7f.jpg" id="avatar">
                                </div>
                            </td>
                            <td valign="top">
                                
                            </td>
                        </tr>
                    </tbody></table>
                    <table class="userinfotable" style="display: none;">
                        <tbody><tr>
                           <td valign="top">
                           <div class="ui_table2info">
                            <div class="userinfotr">
                                        <label>
                                            <span class="need"></span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                                        <div class="genderarea">
                                            <div class="ui_gc genderitem">
                                                <span>男</span>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="ui_gc genderitem1 genderhigh genderhigh2">
                                                <span>女</span>
                                            </div>
                                            <input type="hidden" value="false" id="ismale">
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="userinfotr">
                                        <label>
                                            <span class="need"></span>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</label>
                                        <input type="text" name="birthday" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',lang:'zh-cn',readOnly:'readonly',maxDate:'2014-01-01'})" id="birthday" readonly="readonly" class="inputxt mr10 dp-applied Wdate">
                                        
                                    </div>
                                    <div class="userinfotr">
                                        <label>
                                            <span class="need"></span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                                        <input type="text" errormsg="请输入有效邮箱" nullmsg="请填写邮箱" sucmsg=" " ajaxurl="" datatype="e" name="email" id="email" value="">
                                        <div class="Validform_checktip">
                                        </div>
                                        <div style="color: rgb(224, 224, 224); font-size: 16px; position: absolute; top: 10px; left: 131px;" class="emailtip">
                                            必填，密码丢失可使用邮箱找回
                                        </div>
                                    </div>
                                    <div class="userinfotr">
                                        <label>
                                            <span class="need"></span>手机号码</label>
                                        <input type="text" errormsg="请检查手机号码" nullmsg=" " ignore="ignore" sucmsg=" " datatype="m" name="mobile" value="" id="phonenumber">
                                        <div class="Validform_checktip">
                                        </div>
                                    </div>
                                    <div class="userinfotr">
                                        <label>
                                            <span class="need"></span>所&nbsp;&nbsp;在&nbsp;&nbsp;地</label>
                                        <input type="text" readonly="readonly" name="location" id="location" value="">
                                        <div id="provinceoutercontainer" class="ui-draggable ui-draggable-handle">
                                            <div class="ui_provinceheader">
                                                <div id="ui_close"></div>
                                            </div>
                                            <div id="provinceinsetcontainer">
                                            </div>
                                            <div id="cityinsetcontainer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <label>
                                            <span class="need"></span>
                                        </label>
                                        <div class="maintenwarnmsg">
                                        </div>
                                    </div>
                               </div>
                           </td>
                        </tr>
                    </tbody></table>
                </div>                
                <div style="margin: 50px 35% 0px; color: rgb(94, 130, 207); display: none;" class="userinfotr">
                    <a id="btnSaveUserInfo" class="checkwbtn xiugaibtn" href="javascript:">修 改</a><a style="margin-left:50px;" class="checkwbtn" href="javascript:history.go(-1);">返 回</a>
                </div>
                <div id="changepwd" style="display: block;">
                    <div class="userinfotr" style="margin:0;">
                        <label for="">
                             当前密码</label>
                        <input type="password" sucmsg=" " errormsg="" nullmsg="请填写密码" datatype="*" style="font-size: 14px;" class="inputxt" name="userpassword" id="userpassword">
                        <div class="Validform_checktip"></div>
                    </div>
                    <div class="userinfotr" style="margin:0;">
                        <label>
                             新的密码</label>
                        <input type="password" sucmsg=" " errormsg="" nullmsg="请填写新密码" datatype="*" style="font-size: 14px;" class="inputxt" name="userpassword2" id="userpassword2" value="">
                        <div class="Validform_checktip"></div>
                    </div>
                    <div class="userinfotr" style="margin:0;">
                        <label>
                             确认密码</label>
                        <input type="password" sucmsg=" " errormsg="新密码和确认密码不一致" nullmsg="请填写确认密码" recheck="userpassword2" datatype="*" style="font-size: 14px;" class="inputxt" name="userpassword3" id="userpassword3" value="">
                        <div class="Validform_checktip"></div>
                    </div>
                    <div style="padding-bottom:20px;" class="changpwdwarnmsg">
                    </div>
                </div>
                <div style="margin: 50px 35%; padding-bottom: 60px; display: block;" class="userinfotr">
                    <a id="btnChangePwd" class="checkwbtn" href="javascript:">提 交</a><a style="margin-left:50px;" class="checkwbtn" href="javascript:history.go(-1);">返 回</a>
                <br>
                <br><br><br><br><br><br><br><br><br>
                </div>
                <div class="ui_relate2family" style="margin-left: 18px; display: none;">
                   <div class="contentofmain">
                     <div class="homework_btns" style="margin: 10px 15%;">
                        <div class="checkwbtn btnset">语文</div><div class="checkwbtn btnset">数学</div><div class="checkwbtn btnset">英语</div><div class="checkwbtn btnset">物理</div><div class="checkwbtn btnset">化学</div><div class="checkwbtn btnset">更多</div>    
                    </div>                
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="hmk_img mathbg"></div>
                        <div style="float: right;margin-right: 35%;">
                            <div class="check_worktitle">2015-11-10 数学 课后作业</div><br><div class="check_classname">2015-11-10 9:26--2015-11-12 9:26王宇凡老师发布</div>
                            <div>
                                <div class="check_worktime">
                                    <div class="check_timeinfo">正确体数：13/13&nbsp;&nbsp; <span class="per">得分率：100%</span></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="check_btns" style="top:32%">
                              <div class="checkwbtn btnset">写作业</div>
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="hmk_img txtbg"></div>
                        <div style="float: right;margin-right: 35%;">
                            <div class="check_worktitle">2015-11-10 数学 课后作业</div><br><div class="check_classname">2015-11-10 9:26--2015-11-12 9:26王宇凡老师发布</div>
                            <div>
                                <div class="check_worktime">
                                    <div class="check_timeinfo">正确体数：13/13 &nbsp;&nbsp;<span class="per">得分率：100%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="check_btns" style="top:32%">
                              <div class="checkwbtn btnset">写作业</div> 
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="hmk_img txtbg"></div>
                        <div style="float: right;margin-right: 35%;">
                            <div class="check_worktitle">2015-11-10 数学 课后作业</div><br><div class="check_classname">2015-11-10 9:26--2015-11-12 9:26王宇凡老师发布</div>
                            <div>
                                <div class="check_worktime">
                                    <div class="check_timeinfo">正确体数：13/13 &nbsp;&nbsp;<span class="per">得分率：100%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="check_btns" style="top:32%">
                              <div class="checkwbtn btnset">写作业</div> 
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="hmk_img englishbg"></div>
                        <div style="float: right;margin-right: 35%;">
                            <div class="check_worktitle">2015-11-10 数学 课后作业</div><br><div class="check_classname">2015-11-10 9:26--2015-11-12 9:26王宇凡老师发布</div>
                            <div>
                                <div class="check_worktime">
                                    <div class="check_timeinfo">正确体数：13/13 &nbsp;&nbsp;<span class="per">得分率：100%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="check_btns" style="top:32%">
                              <div class="checkwbtn btnset">写作业</div>
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="hmk_img mathbg"></div>
                        <div style="float: right;margin-right: 35%;">
                            <div class="check_worktitle">2015-11-10 数学 课后作业</div><br><div class="check_classname">2015-11-10 9:26--2015-11-12 9:26王宇凡老师发布</div>
                            <div>
                                <div class="check_worktime">
                                    <div class="check_timeinfo">正确体数：13/13&nbsp;&nbsp; <span class="per">得分率：100%</span></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="check_btns" style="top:32%">
                              <div class="checkwbtn btnset">写作业</div>
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="hmk_img txtbg"></div>
                        <div style="float: right;margin-right: 35%;">
                            <div class="check_worktitle">2015-11-10 数学 课后作业</div><br><div class="check_classname">2015-11-10 9:26--2015-11-12 9:26王宇凡老师发布</div>
                            <div>
                                <div class="check_worktime">
                                    <div class="check_timeinfo">正确体数：13/13 &nbsp;&nbsp;<span class="per">得分率：100%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="check_btns" style="top:32%">
                              <div class="checkwbtn btnset">写作业</div> 
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="hmk_img txtbg"></div>
                        <div style="float: right;margin-right: 35%;">
                            <div class="check_worktitle">2015-11-10 数学 课后作业</div><br><div class="check_classname">2015-11-10 9:26--2015-11-12 9:26王宇凡老师发布</div>
                            <div>
                                <div class="check_worktime">
                                    <div class="check_timeinfo">正确体数：13/13 &nbsp;&nbsp;<span class="per">得分率：100%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="check_btns" style="top:32%">
                              <div class="checkwbtn btnset">写作业</div> 
                        </div>
                    </div>
                </div>
            </div>
                <div style="margin: 0px 60px; display: none;" id="spacetalk">
                    <div id="profileBox" class="clearfix">
                        <div class="profileLeft">
                            <div class="imgBorder">
                                <img src="http://auth.edugd.cn/users/69aee7ec-e34a-43ef-bc0c-a512679f6db8.jpg"></div>
                            <a id="btChangeProfile" href="">更改头像</a>
                        </div>
                        <div class="profileRight">
                            <div class="name">
                                李玉顺老师</div>
                            <div class="school">
                                </div>
                        </div>
                        <div style=" left: 80%;margin-left: 57%;position: absolute;"><textarea class="desctxt"></textarea>
                        <div class="checkwbtn btnset pinglun">评论</div>
                        </div>
                    </div>         
    
                    <div class="clearfix" id="publistWeiboToolBar">
                        <a actiondata="typeId=1" id="btPublish"><b>发布</b>（<span id="publistWeiboCounter" class="num">140</span>字）</a>
                    </div>
                    <div class="clearfix" id="tabBar">
                        
                        <a class="highlight" href="javascript:">全部</a> <a href="javascript:">我的分享</a> <a href="javascript:">我的好友</a>
                    </div>
                    
                    <div id="weiboList">

                        <div class="weiboItem clearfix">
                            <div class="avatar">
                                <img alt="姓名SQA06" src="http://auth.edugd.cn/users/69aee7ec-e34a-43ef-bc0c-a512679f6db8.jpg">
                            </div>
                            <div class="itemRight">
                                <div class="name">
                                    姓名SQA06
                                </div>
                                <div class="content">
                                    <div class="text">hi</div>
                                                    
                                </div>
                        
                                <div class="bottom clearfix">
                                    <div class="operations">
                                        <a actiondata="typeId=2&amp;repostWeiboId=856" actiondata1="weiboId=856&amp;receiveUserId=222" class="btOpenForward" href="javascript:void(0);">转发（<span class="number">0</span>）</a> | 
                                        <a actiondata1="weiboId=856&amp;receiveUserId=222" class="btOpenComment" href="javascript:void(0);">评论（<span class="number">0</span>）</a>
                                    </div>
                                    <div class="date">2014/12/10 17:12:37 来自名师伴我行 Android客户端</div>
                                </div>
                            </div>
                            <div class="commentBox">
                            </div>        
                        </div>

                        <div class="weiboItem clearfix">
                            <div class="avatar">
                                <img alt="姓名SQA06" src="http://auth.edugd.cn/users/69aee7ec-e34a-43ef-bc0c-a512679f6db8.jpg">
                            </div>
                            <div class="itemRight">
                                <div class="name">
                                    姓名SQA06
                                </div>
                                <div class="content">
                                    <div class="text">@SQA07</div>
                                
                                    <div class="image">
                                        <a href="/quanzi/CourseDetail?courseId=492"><img width="96" height="92" src="http://ecloud.edugd.cn:8087/msktres/jxlx/yinyue/xiaoxue/yx17/yx17.jpg"></a>
                                    </div>
                                                    
                                </div>
                        
                                <div class="bottom clearfix">
                                    <div class="operations">
                                        <a actiondata="typeId=2&amp;repostWeiboId=855" actiondata1="weiboId=855&amp;receiveUserId=222" class="btOpenForward" href="javascript:void(0);">转发（<span class="number">0</span>）</a> | 
                                        <a actiondata1="weiboId=855&amp;receiveUserId=222" class="btOpenComment" href="javascript:void(0);">评论（<span class="number">0</span>）</a>
                                    </div>
                                    <div class="date">2014/12/10 16:59:59 来自名师伴我行 Android客户端</div>
                                </div>
                            </div>
                            <div class="commentBox">
                            </div>        
                        </div>

                        <div class="weiboItem clearfix">
                            <div class="avatar">
                                <img alt="姓名SQA06" src="http://auth.edugd.cn/users/69aee7ec-e34a-43ef-bc0c-a512679f6db8.jpg">
                            </div>
                            <div class="itemRight">
                                <div class="name">
                                    姓名SQA06
                                </div>
                                <div class="content">
                                    <div class="text">ok</div>
                                
                                    <div class="image">
                                        <a href="/quanzi/CourseDetail?courseId=492"><img width="96" height="92" src="http://ecloud.edugd.cn:8087/msktres/jxlx/yinyue/xiaoxue/yx17/yx17.jpg"></a>
                                    </div>
                                                    
                                </div>
                        
                                <div class="bottom clearfix">
                                    <div class="operations">
                                        <a actiondata="typeId=2&amp;repostWeiboId=854" actiondata1="weiboId=854&amp;receiveUserId=222" class="btOpenForward" href="javascript:void(0);">转发（<span class="number">0</span>）</a> | 
                                        <a actiondata1="weiboId=854&amp;receiveUserId=222" class="btOpenComment" href="javascript:void(0);">评论（<span class="number">0</span>）</a>
                                    </div>
                                    <div class="date">2014/12/10 16:59:45 来自名师伴我行 Android客户端</div>
                                </div>
                            </div>
                            <div class="commentBox">
                            </div>        
                        </div>

                        <div class="lastItem"></div>
                    </div>
                </div>
                <div class="res_homeworks" style="display: none;">
                    <div style="margin: 10px 45px; font-size:20px;">
                        查找资源<br>
                    </div>
                    <div class="res_surch" style="margin-left: 60px;">
                        <div class="nosel" id="Div1">
                            <div class="checkwbtn btnset">语文</div><div class="checkwbtn btnset" style="background:#5e82cf;color:#fff">数学</div><div class="checkwbtn btnset">英语</div><div class="checkwbtn btnset">物理</div><div class="checkwbtn btnset">化学</div> <br>
                            <div class="checkwbtn btnset">全部</div><div class="checkwbtn btnset" style="background:#5e82cf;color:#fff">教学资源</div><div class="checkwbtn btnset">数字试卷</div><div class="checkwbtn btnset">数字试题</div><br>
                            <div class="checkwbtn btnset" style="background:#5e82cf;color:#fff">错题</div><div class="checkwbtn btnset">收藏</div><div class="checkwbtn btnset">备注</div>
                         </div>
                        <div style="margin:10px;"><span id="Span1">已选条件</span>：
                            <span id="Span2"></span>初中
                            <span id="Span3"></span>、教学
                            <span id="Span4"></span>、人教版
                            <span id="Span5"></span>、八年级上
                            <span id="Span6"></span>、错题<span style="margin-left:35%;color:#5e82cf;">收起选项︿</span><div class="ori-right"></div>
                    </div>
                    <div class="news_search_box">                            
                            <span><input type="text" id="news_search"></span>
                            <span><a class="a_search res_img" href="javascript:;">&nbsp;</a></span>
                            <div style="position: absolute; top: 10px; left: 50px; font-size: 16px; color: rgb(210, 210, 210); display: block;">请输入关键字查找需要资源</div>
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">

                        <div class="check_worktime"><div class="check_timeinfo">资源名称：教学设计6：第5课 散步</div></div>
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>

                        <div class="check_btns" style="top:32%">
                             <div class="buy res_img"></div>
                            <div class="start res_img"></div> 
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="check_worktime"><div class="check_timeinfo">资源名称：教学设计6：第5课 散步</div></div>
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>

                        <div class="check_btns" style="top:32%">
                             <div class="buy res_img"></div>
                            <div class="start res_img"></div> 
                        </div>
                    </div>
                    <div class="check_worklink" href="/Teacher/Checkwork?aidx=546&amp;classIdx=86">
                        <div class="check_worktime"><div class="check_timeinfo">资源名称：教学设计6：第5课 散步</div></div>
                        <div class="check_worktitle">来源：教学资源<div class="check_classname">三度五星：<div class="littlestart res_img"></div><div class="littlestart res_img"></div><span class="littlestart res_img"></span><div class="littlestart res_img"></div><div class="littlestart res_img"></div></div></div><div class="check_classname">上传时间：2015年11月8日</div>

                        <div class="check_btns" style="top:32%">
                             <div class="buy res_img"></div>
                            <div class="start res_img"></div> 
                        </div>
                    </div>
                    <div class="pager"><ul class="pages"><li class="pgNext pgEmpty">首页</li><li class="pgNext pgEmpty">上一页</li><li class="page-number pgCurrent">1</li><li class="pgNext pgEmpty">下一页</li><li class="pgNext pgEmpty">尾页</li></ul></div>      
           
                </div>
     

</div>
<script type="text/javascript">
    var frame = window.parent.document.getElementById("pageframe");
    $(function() {
       //location.reload();

        $(frame).height($("#main_body").height() +100);
        if (location.href.length > 50)
        {
            loadpage();
        }
        //alert(location.href);        
    });

    function loadpage() {
        var href = location.href.split("=")[1];
        if (href == "StudentName" || href == "Personal")
        {
            $(".u_tab_c").eq(3).addClass("u_tab_high").siblings(".u_tab_c").removeClass("u_tab_high");
            $(".all_homeworks").hide();
            $("#btnSaveUserInfo").closest(".userinfotr").show();
            $("#btnChangePwd").closest(".userinfotr").hide();
            $("#changepwd").hide();
            $(".ui_relate2family").hide();
            $("#spacetalk").hide();
            $(".res_homeworks").hide();
            $(".hmk_title").hide();
            $(".userinfotable").show();
            $("#changeinfo").show();
            $(frame).height($("#changeinfo").height() + 300);
        } else if (href == "ClassActive")
        {
            $(".u_tab_c").eq(2).addClass("u_tab_high").siblings(".u_tab_c").removeClass("u_tab_high");
            $(".res_homeworks").hide();
            $("#changeinfo").hide;
            $("#btnSaveUserInfo").closest(".userinfotr").hide();
            $(".ui_relate2family").hide();
            $(".userinfotable").hide();
            $(".all_homeworks").hide();
            $(".hmk_title").hide();
            $("#spacetalk").show();
            $(frame).height($("#spacetalk").height() + 180);
        } else if (href == "Homework")
        {
            $(".u_tab_c").eq(0).addClass("u_tab_high").siblings(".u_tab_c").removeClass("u_tab_high");
            $("#changeinfo").hide;
            $("#btnSaveUserInfo").closest(".userinfotr").hide();
            $("#spacetalk").hide();
            $(".userinfotable").hide();
            $(".res_homeworks").hide();
            $("#changepwd").hide();
            $(".ui_relate2family").hide();
            $(".hmk_title").hide();
            $("#btnChangePwd").closest(".userinfotr").hide();
            $(".all_homeworks").hide();
            $(".ui_relate2family").show();
            $(frame).height($(".ui_relate2family").height());
        }
    }
    $(".u_tab_c").click(function() {
        $(this).addClass("u_tab_high").siblings(".u_tab_c").removeClass("u_tab_high");
        $("#userinfosuc").hide();
        $(".ui_level").show();

        var index = $(this).index();
        if (index == 0)
        {
            $("#changeinfo").hide;
            $("#btnSaveUserInfo").closest(".userinfotr").hide();
            $("#spacetalk").hide();
            $(".userinfotable").hide();
            $(".res_homeworks").hide();
            $("#changepwd").hide();
            $(".ui_relate2family").hide()
            $("#btnChangePwd").closest(".userinfotr").hide();
            $(".all_homeworks").hide();
            $(".ui_relate2family").show();
            $(frame).height($(".ui_relate2family").height());
        } else if (index == 1)
        {
            $(".all_homeworks").hide();
            $("#changepwd").hide();
            $(".ui_relate2family").hide()
            $("#btnChangePwd").closest(".userinfotr").hide();
            $("#changeinfo").hide;
            $(".userinfotable").hide();
            $("#btnSaveUserInfo").closest(".userinfotr").hide();
            $("#spacetalk").hide();
            $(".hmk_title").show();
            $(".res_homeworks").show();
            $(frame).height($(".res_homeworks").height() + 180);
        }
        else if (index == 2)
        {
            $(".res_homeworks").hide();
            $("#changeinfo").hide;
            $("#btnSaveUserInfo").closest(".userinfotr").hide();
            $("#changepwd").hide();
            $(".ui_relate2family").hide()
            $("#btnChangePwd").closest(".userinfotr").hide();
            $(".userinfotable").hide();
            $(".all_homeworks").hide();
            $(".hmk_title").show();
            $("#spacetalk").show();
            $(frame).height($("#spacetalk").height() + 180);
        } else if (index == 3)
        {
            $(".all_homeworks").hide();
            $("#btnSaveUserInfo").closest(".userinfotr").show();
            $("#btnChangePwd").closest(".userinfotr").hide();
            $("#changepwd").hide();
            $(".ui_relate2family").hide();
            $("#spacetalk").hide();
            $(".res_homeworks").hide();
            $(".hmk_title").show();
            $(".userinfotable").show();
            $("#changeinfo").show();
            $(frame).height($("#changeinfo").height() + 300);
        } else if (index == 4)
        {
            $(".all_homeworks").hide();
            $("#btnSaveUserInfo").closest(".userinfotr").hide();
            $("#changepwd").hide();
            $(".ui_relate2family").hide()
            $("#btnChangePwd").closest(".userinfotr").hide();
            $(".userinfotable").hide();
            $(".res_homeworks").hide();
            $("#spacetalk").hide();
            $("#changepwd").show();
            $(".hmk_title").show();
            $("#btnChangePwd").closest(".userinfotr").show();
            $(frame).height($("#changepwd").height());
        };
    });
</script>
</div></div></body></html>