<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <!--<link rel="stylesheet" href="css/ccui.css" type="text/css"/>-->
    <link rel="stylesheet/less" href="src/ccui.less" type="text/css"/>
    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false
        };
    </script>
    <script src="js/less.js"></script>
    <title>联系客服</title>
</head>
<body>
<div class="ccHead">
    <span>取消</span>
    <label>联系客服</label>
</div>
<div class="currentCustom">
    <label class="leftHint">当前客户</label>
    <label class="customName">icbc</label>
    <span>退出帐号</span>
</div>
<div class="customer">
    <div class="businessName">CCNA-AATS-Advanced Acceleration...</div>
    <div class="customerName">
        <label class="customerImg"></label>
        <p class="serverName">黄敏</p>
    </div>
    <div class="serverInfo">
        <label class="emailImg" ></label>
        <p class="serverEmail">min.huang@chinacache.com</p>
    </div>
</div>
<div class="customer">
    <div class="businessName">MIDS增值产品-互联网专线服务-双线BGP</div>
    <div class="customerName">
        <label class="customerImg"></label>
        <p class="serverName">黄敏</p>
    </div>
    <div class="serverInfo">
        <label class="emailImg" ></label>
        <p class="serverEmail">min.huang@chinacache.com</p>
    </div>
    <div class="customerName">
        <label class="customerImg"></label>
        <p class="serverName">黄敏</p>
    </div>
    <div class="serverInfo">
        <label class="emailImg" ></label>
        <p class="serverEmail">min.huang@chinacache.com</p>
    </div>
</div>
<div class="customer">
    <div class="businessName">MIDS增值产品-互联网专线服务-双线BGP</div>
    <div class="customerName">
        <label class="customerImg"></label>
        <p class="serverName">黄敏</p>
    </div>
    <div class="serverInfo">
        <label class="emailImg" ></label>
        <p class="serverEmail">min.huang@chinacache.com</p>
    </div>
</div>
<div class="customer">
    <div class="businessName">MIDS增值产品-互联网专线服务-双线BGP</div>
    <div class="customerName">
        <label class="customerImg"></label>
        <p class="serverName">黄敏</p>
    </div>
    <div class="serverInfo">
        <label class="emailImg" ></label>
        <p class="serverEmail">min.huang@chinacache.com</p>
    </div>
    <div class="customerName">
        <label class="customerImg"></label>
        <p class="serverName">黄敏</p>
    </div>
    <div class="serverInfo">
        <label class="emailImg" ></label>
        <p class="serverEmail">min.huang@chinacache.com</p>
    </div>
</div>
<div class="customerFooter">
    <p>7*24小时热线</p>
    <p class="telphone">4008153399</p>
</div>

<script type="text/javascript" src="js/seajs/seajs/2.2.0/sea-debug.js"></script>
<script type="text/javascript" src="js/seajs.config.js"></script>
<script type="text/javascript">
//    seajs.use("contactCustomer");
</script>
</body>
</html>