<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="css/ccui.css" type="text/css"/>
    <title>今日导学</title>   
    <style>
        .qljT-wlisttb a {color: #737373;}
        .qljT-wlisttb td {text-align: center;}
        .t-worklist {padding-top: 1%;}
    </style>
    </head>
    <body>
    <div id="main_body">
    <div class="t-worklist">
    <table class="t-wlisttb qljT-wlisttb" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td><a href="guidecaseDetail.html?url=导学案-初中化学.doc">化学</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中化学.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中化学.doc">导学案-初中化学</a></td>
        </tr>
       <tr>
            <td><a href="guidecaseDetail.html?url=导学案-初中数学.doc">数学</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中数学.doc">第三课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中数学.doc">导学案-初中数学</a></td>
        </tr>
         <tr>
            <td><a href="guidecaseDetail.html?url=导学案-初中物理.doc">物理</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中物理.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中物理.doc">导学案-初中物理</a></td>
        </tr>
         <tr>
            <td><a href="guidecaseDetail.html?url=导学案-初中英语.doc">英语</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中英语.doc">第三课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-初中英语.doc">导学案-初中英语</a></td>
        </tr>
        <tr>
            <td><a href="guidecaseDetail.html?url=导学案-高中化学.doc">化学</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中化学.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中化学.doc">导学案-高中化学</a></td>
        </tr>
        <tr>
            <td><a href="guidecaseDetail.html?url=导学案-高中数学.doc">数学</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中数学.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中数学.doc">导学案-高中数学</a></td>
        </tr>
        <tr>
            <td><a href="guidecaseDetail.html?url=导学案-高中物理.doc">物理</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中物理.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中物理.doc">导学案-高中物理</a></td>
        </tr>
        <tr>
            <td><a href="guidecaseDetail.html?url=导学案-高中英语.doc">英语</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中英语.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-高中英语.doc">导学案-高中英语</a></td>
        </tr>
        <tr>
            <td><a href="guidecaseDetail.html?url=导学案-小学数学.doc">数学</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-小学数学.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-小学数学.doc">导学案-小学数学</a></td>
        </tr>
        <tr>
            <td><a href="guidecaseDetail.html?url=导学案-小学英语.doc">数学</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-小学英语.doc">第二课</a></td>
            <td><a href="guidecaseDetail.html?url=导学案-小学英语.doc">导学案-小学英语</a></td>
        </tr>
    </tbody>
    </table>
</div>
</div>
    
<script type="text/javascript" src="../js/seajs/seajs/2.2.0/sea-debug.js"></script>
<script type="text/javascript" src="../js/seajs.config.js"></script>
<script type="text/javascript">
    seajs.use("student");
</script>
</body>
</html>