<html lang="en-US"><head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/ccui.css" type="text/css"/>
	<title>天津全媒体同步高效辅学系统</title>
    <!--<link href="Content/forclass.css" rel="stylesheet" type="text/css">-->
</head>
<body>
	<div class="hm_wrapper">
	    <div class="hm_f_logo">
	        <img src="../images/home/biglogo.png">
	        <br>
	        <div class="forClass">天津全媒体同步高效辅学系统</div>
	    </div>
	    <form id="form1" action="">
	        <div class="fc_loginarea">
	            <div class="hm_operations">
	                <div class="fr_arrow"></div>
	                <!--<table cellspacing="0" cellpadding="0" class="hm_table_c">-->
	                    <!--<tbody><tr class="hm_links"><td><span class="hm_login hm_linkhigh">登 &nbsp;录</span></td></tr>-->
	                <!--</tbody></table>-->
                    <table cellspacing="0" cellpadding="0" class="hm_table_c hm_log_table">
                        <!--登录-->
                    <tbody>
                        <tr class="logtable">
                            <td>
                                <div class="hm_name_tip" >用户名</div>
                            </td>
                            <td>
                                <input name="username" id="logusername" type="text">
                            </td>
                        </tr>
                        <tr class="logtable">
                            <td>
                                <div class="hm_pwd_tip">密　码</div>
                            </td>
                            <td>
                                <input type="password" id="logpassword" name="userpassword">
                            </td>
                        </tr>
                        <tr class="logtable">
                            <td colspan="2">
                                <div class="logwarnmsg"></div>
                                <div id="btnLogin">登&nbsp;&nbsp;&nbsp; 录</div>
                                <input type="hidden" name="session">
                                <input type="hidden" name="loginName">
                                <input type="hidden" name="realName">
                                <input type="hidden" name="id">
                                <input type="hidden" name="role">
                                <input type="hidden" name="url">
                                <input type="hidden" name="bind" value="false">
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </form>
	</div>

    <script type="text/javascript" src="../js/seajs/seajs/2.2.0/sea-debug.js"></script>
    <script type="text/javascript" src="../js/seajs.config.js"></script>
    <script type="text/javascript">
//        seajs.use("../js/seajs/my/login");
          seajs.use("myLogin");
    </script>
</body>
</html>