<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="css/ccui.css" type="text/css"/>
<title>今日微课</title>   
<style type="text/css">
.qljT-wlisttb a {color: #737373; font-size: 2vw;}
.qljLstTit {max-width: 137px;overflow:hidden;text-overflow: ellipsis;display: block;white-space: nowrap;}
table tr{width: 100%; height: 60px;}
table tr td{text-align: left;width:17%;border-bottom: 1px solid;}
</style>
</head>
<body>
<div id="main_body">
<div class="t-worklist" style="padding-top:10px;">
    <table class="t-wlisttb qljT-wlisttb" cellpadding="0" cellspacing="0" style="text-align:center;">
        <tbody>
        <tr>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的高、中线与角平分线.mp4" target="pageframe">数学</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的高、中线与角平分线.mp4">九年级数学上</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的高、中线与角平分线.mp4" class="qljLstTit">三角形的高、中线与角平分线</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的高、中线与角平分线.mp4">王老师推送</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的高、中线与角平分线.mp4">李有人主讲</a></td>
             <td><a href="microlessonDetail.html?url=八年级数学上三角形的高、中线与角平分线.mp4">5'30''</a></td>
        </tr>
       <tr>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的稳定性.mp4">语文</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的稳定性.mp4">九年级语文上</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的稳定性.mp4" class="qljLstTit">三角形的稳定性.mp4</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的稳定性.mp4">李老师推送</a></td>
            <td><a href="microlessonDetail.html?url=八年级数学上三角形的稳定性.mp4">王有才主讲</a></td>
             <td><a href="microlessonDetail.html?url=八年级数学上三角形的稳定性.mp4">6'30''</a></td>
        </tr>
        <tr>
            <td><a href="microlessonDetail.html?url=九年级上数学一元二次方程的概念0101-0036-1002.mp4">英语</a></td>
            <td><a href="microlessonDetail.html?url=九年级上数学一元二次方程的概念0101-0036-1002.mp4">九年级英语上</a></td>
            <td><a href="microlessonDetail.html?url=九年级上数学一元二次方程的概念0101-0036-1002.mp4" class="qljLstTit">一元二次方程的概念0101-0036-1002.mp4</a></td>
            <td><a href="microlessonDetail.html?url=九年级上数学一元二次方程的概念0101-0036-1002.mp4">赵老师推送</a></td>
            <td><a href="microlessonDetail.html?url=九年级上数学一元二次方程的概念0101-0036-1002.mp4">刘有才主讲</a></td>
            <td><a href="microlessonDetail.html?url=九年级上数学一元二次方程的概念0101-0036-1002.mp4">6'30''</a></td>
        </tr>
        <tr>
            <td><a href="microlessonDetail.html?url=七年级上有理数0123-0035-2703.mp4">化学</a></td>
            <td><a href="microlessonDetail.html?url=七年级上有理数0123-0035-2703.mp4">九年级化学上</a></td>
            <td><a href="microlessonDetail.html?url=七年级上有理数0123-0035-2703.mp4" class="qljLstTit">有理数0123-0035-2703.mp4</a></td>
            <td><a href="microlessonDetail.html?url=七年级上有理数0123-0035-2703.mp4">王老师推送</a></td>
            <td><a href="microlessonDetail.html?url=七年级上有理数0123-0035-2703.mp4">李有人主讲</a></td>
             <td><a href="microlessonDetail.html?url=七年级上有理数0123-0035-2703.mp4">5'30''</a></td>
        </tr>
        <tr>
            <td><a href="microlessonDetail.html?url=七年级上正数和负数0123-0035-2691.mp4">生物</a></td>
            <td><a href="microlessonDetail.html?url=七年级上正数和负数0123-0035-2691.mp4">九年级生物上</a></td>
            <td><a href="microlessonDetail.html?url=七年级上正数和负数0123-0035-2691.mp4" class="qljLstTit">正数和负数0123-0035-2691</a></td>
            <td><a href="microlessonDetail.html?url=七年级上正数和负数0123-0035-2691.mp4">李老师推送</a></td>
            <td><a href="microlessonDetail.html?url=七年级上正数和负数0123-0035-2691.mp4">王有才主讲</a></td>
             <td><a href="microlessonDetail.html?url=七年级上正数和负数0123-0035-2691.mp4">6'30''</a></td>
        </tr>
        <tr>
            <td><a href="microlessonDetail.html?url=数学九年级上一元二次方程的概念0101-0036-1013.mp4">数学</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上一元二次方程的概念0101-0036-1013.mp4">九年级数学上</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上一元二次方程的概念0101-0036-1013.mp4" class="qljLstTit">一元二次方程的概念0101-0036-1013</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上一元二次方程的概念0101-0036-1013.mp4">赵老师推送</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上一元二次方程的概念0101-0036-1013.mp4">刘有才主讲</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上一元二次方程的概念0101-0036-1013.mp4">6'30''</a></td>
        </tr>

        <tr>
            <td><a href="microlessonDetail.html?url=数学九年级上直接开平方法解一元二次方程0101-0036-1013.mp4">数学</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上直接开平方法解一元二次方程0101-0036-1013.mp4">九年级数学上</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上直接开平方法解一元二次方程0101-0036-1013.mp4" class="qljLstTit">直接开平方法解一元二次方程0101-0036-1013</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上直接开平方法解一元二次方程0101-0036-1013.mp4">赵老师推送</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上直接开平方法解一元二次方程0101-0036-1013.mp4">刘有才主讲</a></td>
            <td><a href="microlessonDetail.html?url=数学九年级上直接开平方法解一元二次方程0101-0036-1013.mp4">6'30''</a></td>
        </tr>
        <tr>
            <td><a href="microlessonDetail.html?url=物理八年级上常见物体长度的估测 0122-0034-9494.mp4">物理</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上常见物体长度的估测 0122-0034-9494.mp4">九年级物理上</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上常见物体长度的估测 0122-0034-9494.mp4" class="qljLstTit">常见物体长度的估测 0122-0034-9494</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上常见物体长度的估测 0122-0034-9494.mp4">赵老师推送</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上常见物体长度的估测 0122-0034-9494.mp4">刘有才主讲</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上常见物体长度的估测 0122-0034-9494.mp4">6'30''</a></td>
        </tr> 
        <tr>
            <td><a href="microlessonDetail.html?url=物理八年级上长度的单位及单位换算0122-0034-9483.mp4">物理</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上长度的单位及单位换算0122-0034-9483.mp4">九年级物理上</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上长度的单位及单位换算0122-0034-9483.mp4" class="qljLstTit">长度的单位及单位换算0122-0034-9483</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上长度的单位及单位换算0122-0034-9483.mp4">赵老师推送</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上长度的单位及单位换算0122-0034-9483.mp4">刘有才主讲</a></td>
            <td><a href="microlessonDetail.html?url=物理八年级上长度的单位及单位换算0122-0034-9483.mp4">6'30''</a></td>
        </tr> 
    </tbody>
    </table>
    <!-- <div id="pager">4/8</div> -->
</div>
</div>
<script type="text/javascript" src="../js/seajs/seajs/2.2.0/sea-debug.js"></script>
<script type="text/javascript" src="../js/seajs.config.js"></script>
<script type="text/javascript">
    seajs.use("student");
</script>
</body>
</html>