<html xmlns="http://www.w3.org/1999/xhtml"><head><title>

</title><link href="Content/Site.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .btnc
    {
        margin-right:10px;
		padding:5px 3px;
    }
</style>

    <script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../../Scripts/ana.js" type="text/javascript"></script>
    
</head>

<body>
    <div class="page">
        <div id="header">
            <div class="header-top">
                <a href="">
                    <img src="../images/logo.png" alt="" class="logo">
                    <div class="logodesc">
                        <div class="logochinese">天津全媒体同步高效辅学系统</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="main">
            
<div class="maincontent">
    <div class="navibar">
        
        <a class="navitem" style="float:left;" href="/Student/HomeworkSpace?pagename=StudentName" target="pageframe">
            <div class="navimg tnavitem1"></div>
            <div class="navinfo">
                <div class="itemname username">王伟</div>
                <div class="userrole">教师</div>
            </div>
        </a>
		<div class="weektitle" style="position:absolute;top:50px;left:131px;"><div class="btnc" style="font-size:14px;">上一课时：一元二次方程 （1）</div><div class="btnc btnhigh">当前课时：一元二次方程 （2）</div><div class="btnc" style="font-size:14px;">下一课时：解一元二次方程（1）</div></div>
        <a class="navitem" style="float:right;" href="/Student/HomeworkSpace?pagename=ClassActive" target="pageframe">
            <div class="navimg tnavitem3"></div>
            <div class="navinfo" style="margin-top:23px;">
                <div class="itemname">班组动态</div>
            </div>
        </a>
    </div>
    <div class="teamenu">
        <div class="yearinfo">
            <div class="years">
                <span class="curryear">2015</span>年 
                <div class="dateorder">
                    <div class="date-c dateup"></div>
                    <div class="date-c datedown datedownenable"></div>
                </div>
            </div>
            <div class="months">
                <span class="currmonth">11</span>月 
                <div class="dateorder">
                    <div class="date-c dateup datedownenable"></div>
                    <div class="date-c datedown datedownenable"></div>
                </div>
            </div>
            <div class="weeks">
                <div class="weekitem">第一周</div>
                <div class="weekitem selweekitem">第二周</div>
                <div class="weekitem">第三周</div>
                <div class="weekitem">第四周</div>
            </div>
            <div class="weeksubject">
                <div class="selectout">
                    <select class="periodsel"><option value="初中" selected="">初中</option></select>
                    <div class="selectarrow">▼</div>
                </div>
                <div class="selectout">
                    <select class="subjectsel"><option value="数学">数学</option></select><div class="selectarrow">▼</div>
                </div>
            </div>
        </div>
        <div class="datebar">
            <div class="weekday" gap="1">11.13(星期五)</div>
            <div class="weekday" gap="2">11.14(星期六)</div>
            <div class="weekday" gap="3">11.15(星期日)</div>
            <div class="weekday" gap="4">11.16(星期一)</div>
            <div class="weekday" gap="5">11.17(星期二)</div>
            <div class="weekday" gap="6">11.18(星期三)</div>
            <div class="weekday" gap="7">11.19(星期四)</div>
        </div>
        
    </div>
    
    <div class="middle">
        <table class="middletb" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td colspan="2">
                    <div class="menubar-h">
                        <a class="menuitem selmenu" href="/Teacher/Jrzy" target="pageframe">
                            <div class="mitemimg menuitem1"></div>
                            今日作业
                        </a>
                        <a class="menuitem" href="/Teacher/Jrwt" target="pageframe">
                            <div class="mitemimg menuitem2"></div>
                            今日问题
                        </a>
                        <a class="menuitem" href="/Teacher/Zxtj" target="pageframe">
                            <div class="mitemimg menuitem3"></div>
                            最新提交
                        </a>
                        <a class="menuitem" href="/Teacher/Ddpg" target="pageframe">
                            <div class="mitemimg menuitem4"></div>
                            等待批改
                        </a>
                        <div class="menu-h-shadow"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="45px" style="position:relative;">
                    <div class="menubar-v">
                        <a class="menu-v-item" href="/Teacher/Qmtpy" target="pageframe">
                            全媒体批阅
                        </a>
                        <a class="menu-v-item" href="/Teacher/Fxldypj" target="pageframe">
                            辅学雷达与评价
                        </a>
                        <a class="menu-v-item" href="/Teacher/Zysj" target="pageframe">
                            作业设计
                        </a>
                        <a class="menu-v-item" href="/Teacher/Jxjh" target="pageframe">
                            教学计划
                        </a>
                        <a class="menu-v-item" href="/Teacher/Sfjyq" target="pageframe">
                            示范教研圈
                        </a>
                        <div class="menu-v-shadow"></div>
                    </div>
                </td>
                <td valign="top">
                    <iframe id="pageframe" name="pageframe" width="100%" src="/Teacher/Jrzy" style="height: 934.046875px;"></iframe>
                    <br>
                    <div class="menubar-btm">
                        <div class="mbtn-top">
                            <div class="mbar-nav" title="展开"></div>
                            <div class="mbar-area">
                                <a class="menu-b-item mbi-1" href="/Teacher/Zysj" target="pageframe">留作业</a>
                                <a class="menu-b-item mbi-2" href="/Teacher/Xdx" target="pageframe">新导学</a>
                                <a class="menu-b-item mbi-3" href="/Teacher/Xbz" target="pageframe">新班组</a>
                                <a class="menu-b-item mbi-4" href="/Teacher/Xdr" target="pageframe">新导入</a>
                                <a class="menu-b-item mbi-5" href="" target="pageframe">新拍摄</a>
                                <a class="menu-b-item mbi-6" href="/Teacher/Zysj" target="pageframe">新设计</a>
                                <a class="menu-b-item mbi-7" href="/Teacher/Zysj" target="pageframe">新习题课</a>
                                <a class="menu-b-item mbi-8" href="/Teacher/Zysj" target="pageframe">新课题</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        initJxjh();
        initEventHandler();
    });
    function initJxjh() {

        var param = getReqFilterParam();
        addToQueue("GetLessonFiter", param, loadLessonInfo, "", true);
    }

    function initEventHandler() {
        //bindEventHandler($(".f-common"), filterClicked, "click", "click");
        //bindEventHandler($(".muluitem"), unitClicked, "click", "click");

    }

    function loadLessonInfo(result, target) {
        if (isValidArray(result)) {
            var weekinfo = "";
            for (var i = 0; i < result.length; i++) {
                var list = result[i].ChildList;
                switch (parseInt(result[i].Idx)) {
                    case 1: //学段
                        loadSelect(list,$(".periodsel"));
                        break;
                    case 2: //年级
                        weekinfo += handleList(list);
                        break;
                    case 3: //学科
                        weekinfo += handleList(list);
                        loadSelect(list, $(".subjectsel"))
                        break;
                    case 4: //单元
                        handleUnits(list, $(".datespan"), gap);
                }
            }
            //$(".weeksubject").text(weekinfo);
        }
    }

    $("select").change(function() {
        var selPeriod = $(".periodsel").val(),
        selSubject = $(".subjectsel").val();
        updateLocal("speriod", selPeriod);
        updateLocal("ssubject", selSubject);
        initJxjh();
        var page = $("#pageframe")[0].contentDocument;
        if (page.URL.indexOf("Jxjh") > 0) {
            page.location.reload();
        }
    });

    function loadSelect(list, target) {
        target.empty();
        var localProp = "";
        if (target.hasClass("periodsel")) {
            localProp = "speriod";
            selected = getLocalVal("speriod")
        }
        if (target.hasClass("subjectsel")) {
            localProp = "ssubject";
            selected = getLocalVal("ssubject");
        }
        if (isValidArray(list)) {
            for (var i = 0; count = list.length, i < count; i++) {
                var item = list[i], name = item.Name;
                var prop = "";
                if (selected == name) {
                    updateLocal(localProp, name);
                    prop = "selected";
                }
                var option = "<option value=" + name + " " + prop + ">" + name + "</option>";
                target.append(option);
            }
        }
    }

    function handleList(list) {
        if (isValidArray(list)) {
            for (var i = 0; count = list.length, i < count; i++) {
                if (list[i].Prop == "selected") {
                    return list[i].Name;
                    break;
                }
            }
        }
    }
    var cacheUnits = new Array(),
    gap = 1;
    function handleUnits(list, target, gap) {
        $(".weektitle").empty();
        var name = "";
        if (isValidArray(list)) {
            for (var i = 0; count = list.length, i < count; i++) {
                var childs = list[i].ChildList;
                var ok = false;
                name = list[i].Name + " -- ";
                if (isValidArray(childs)) {
                    for (var j = 0; count1 = childs.length, j < count1; j++) {
                        var childName = childs[j].Name;
                        if (j == gap) {
                            ok = true;
                            //name += childName;
                            //target.text(name);
                        }
                        if (j <= 2 && i == 0) {
                            //var div = "<div class='btnc' data-id=" + childs[j].Idx + ">" + childName + "</div>";
                            //$(".weektitle").append(div);
                        }
                        cacheUnits.push(name + childName);
                    }
                    
                }
            }

            for (var m = 0; count2 = cacheUnits.length, m < count2; m++) {
                
                if (m == (gap - 1)) {
					var div = "<div class='btnc' style='font-size:14px;'>";
                    div += "上一课时：";
                    div += (cacheUnits[m].split(' -- ')[1]);
                    div += "</div>";
                    $(".weektitle").append(div);
                }

                if (gap == m) {
					var div = "<div class='btnc btnhigh'>";
                    div += "当前课时：";
                    div += (cacheUnits[m].split(' -- ')[1]);
                    target.text(cacheUnits[m].split(' -- '));
                    div += "</div>";
                    $(".weektitle").append(div);
                }

                if (m == (gap + 1)) {
					var div = "<div class='btnc' style='font-size:14px;'>";
                    div += "下一课时：";
                    div += (cacheUnits[m].split(' -- ')[1]);
                    div += "</div>";
                    $(".weektitle").append(div);
                }
                
                
                
            }
        }
        
    }

    function getReqFilterParam() {
        var unitidx = 0;
        unitidx = $(".muluhigh").length == 0 ? 0 : $(".muluhigh").attr("data-id");
        var param = {
            period: getLocalVal("speriod")
             , term: getLocalVal("sterm")
             , subject: getLocalVal("ssubject")
             , uidx: unitidx
        };
        return param;
    }
    
    function updateLocal(key, value) {
        localStorage[key] = value;
    }
    
    function getLocalVal(key) {
        var value = (typeof localStorage[key] == "undefined" || localStorage[key] == "undefined") ? "" : localStorage[key];
        return value;
    }
</script>

        </div>
    </div>

<script src="../../Scripts/site.js" type="text/javascript"></script>

</body></html>