<html><head><link href="../../Content/framepage.css" rel="stylesheet" type="text/css">
<script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>

<style type="text/css">
    .t-wlisttb td
    {
        width:auto;
    }
</style>
</head><body><div class="t-worklist">
    <table class="t-wlisttb" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td width="30%">金f103页面怎么删除？</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>利用mathematic绘图</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>八年级上数学第二十一章</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>求解这个复变积分</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>初一数学23章</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>这个高二的数学题怎么做？</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>函数变化</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>正负数的问题</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>什么是有理数？</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>王晓明</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>八年级上数学第二十一章</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>求解这个复变积分</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
        <tr>
            <td>初一数学23章</td>
            <td>0回答</td>
            <td>15分钟前</td>
            <td>数学 &nbsp;学习</td>
            
            <td><div class="checkwbtn">回 复</div></td>
        </tr>
    </tbody></table>
    <div id="pager">4/8</div>
</div>
<script type="text/javascript">
    $(function() {
        var frame = window.parent.document.getElementById("pageframe");
        $(frame).height($("body").height() + 0);
    });
    $(".checkwbtn").click(function() {
    location.href = "/Teacher/JrwtHf"  
    });
</script>
</body></html>